.card h2{
	color: var(--color-primary-light);
}
.card p {
	padding-bottom: 1em;
}

.gendericon {
	fill: white;
}

.gender {
	position: absolute;
	top: 3em;
}

.dogs {
	position: relative;
}

.name {
	text-decoration: none;
	font-style: normal;
}
