.card h2 {
  color: var(--color-primary-light);
}

.card p {
  padding-bottom: 1em;
}

.gendericon {
  fill: white;
}

.gender {
  position: absolute;
  top: 2em;
}

.dogs {
  position: relative;
}

.name {
  text-decoration: none;
  font-style: normal;
}

.featured {
  width: calc(100% + 3em);
  left: -1.5em;
  position: relative;
}

.silver {
	background-color: var(--color-accent);
}
