:root {
  --color-primary: #bc1c2c;
  --color-primary-light: #c45865;
  --color-secondary: #5f0707;
  --color-accent: #eee;
  --color-neutral-beige: #e2e2e2;
  --color-whatever: #4c4c50;

  --font-primary: roboto, arial, sans-serif;
  --font-secondary: "roboto bold", menlo, consolas, monospace;
}

html {
  font-family: var(--font-primary);
}
